// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.grow{
	transition: all 0.1s;
	cursor: pointer;
}
.grow:hover{
	transform: scale(1.1);
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.table td {
	vertical-align: center;
}
